<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th class="text-center">Full Name</th>
            <th class="text-center">Status</th>
        </tr>
        <% declineduser.forEach(i=> { %>
            <tr>
                <td>
                    <%= i.firstname %>
                        <%= i.lastname %>
                </td>
                <td>Declined</td>
            </tr>
            <% }) %>
    </table>

</body>
</html>